@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  display: block;
  margin-bottom: 40px;
}

a {
  transition: ease-in-out 0.3s all;
}
